<div class="container">

  <div class="row">

    <div class="col-sm-4 col-sm-offset-4">

      <div class="container-box">
        <center>
          <h2>Entrar</h2>
        </center>
        <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "<i class='fa fa-facebook-square'></i> | Entrar com #{provider.to_s.titleize}".html_safe, omniauth_authorize_path(resource_name, provider),:class => "btn btn-info btn-block btn-lg" %><br />
        <% end -%>
        <% end -%>
        <hr>
        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
        </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Entrar", :class => "btn btn-default btn-block" %>
        </div>
        <% end %>

        <%= render "users/shared/links" %>

      </div>
    </div>
  </div>
</div>