<%= bootstrap_form_for(@professor) do |f| %>

  <div class="field">
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.text_field :nota_pi %>
  </div>
  <div class="field">
    <%= f.text_field :nota_pf %>
  </div>
  <div class="field">
    <%= f.text_field :cr %>
  </div>
  <div class="field">
    <%= f.number_field :ranking %>
  </div>
  <div class="field">
    <%= f.text_area :horario %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar", :class => "btn btn-success btn-lg pull-right" %>
  </div>
<% end %>
