<%= content_for :title, "InsProf | Professores" %>
<%= render 'navbar/user' %>
<div id="container">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <% @professors.each do |professor| %>  
    <div class="item">
      <div class="panel panel-default">
        <%= link_to (image_tag professor.image.url(:medium)),professor %>
        <div class="panel-body">
          <%= link_to professor.user.name,professor %>
          <div class="pull-right">
            <div class="text text-muted" >
              <small><%= "#{icon('thumbs-up')} #{professor.recommended_count}".html_safe  %></small>
              <small><%= "#{icon('thumbs-down')} #{professor.unrecommended_count}".html_safe  %></small>
            </div>
          </div>
          <h5><%= professor.price %></h5>
          <hr>
          <div class="courses">
            <div class="text-center text-muted courses-more">
             <small> Ver mais </small>
             <hr>
            </div>
            <table class="table table table-hover">
              <thead>
                <tr>
                  <th><small>Curso</small></th>
                  <th><small>PI</small></th>
                  <th><small>PF</small></th>
                </tr>
              </thead>
              <tbody>
                <% professor.courses.each do |course| %>
                  <tr>
                    <td><small><%= course.name %></small></td>
                    <td><small><%= course.nota_pi %></small></td>
                    <td><small><%= course.nota_pf %></small></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<center>
  <%= paginate @professors,:left => 1, :right => 3,:theme => 'twitter-bootstrap-3' %>
</center>

<script type="text/javascript">
  $(document).ready(function(){
    $("#container").gridalicious({
      animate: true,
      width: 200,
      height: 300
    })
  });
</script>
<script>
  $('.courses').hover(
    function () {
      $(this).animate({
        height: '200px',
        width: '150px'
      }, 1);
    },

    function () {
      $(this).animate({
        height: '15px',
        width: '150px'
      }, 1);
    });
</script>