<%= render 'navbar/user' %>
<div id="container">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <h3>Professores</h3>
    <% @professors.each do |professor| %>  
    <% 100.times do |i| %>
    <div class="item">
      <div class="panel panel-default">
        <%= link_to (image_tag professor.image.url(:medium)),professor %>
        <div class="panel-body">
          <%= link_to professor.user.name,professor %>
          <h5>R$ <%= professor.price %></h5>
          

          <hr>
          <% professor.courses.each do |course| %>
           <strong><%= course.name %></strong>,<%= course.nota_pi %> - <%= course.nota_pf %>
          <% end %>
          R$ <%= professor.price %>
          <%= professor.nota_pi %>
          <%= professor.nota_pf %>
          <%= professor.cr %>
          <%= professor.ranking %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#container").gridalicious({
      animate: true,
      width: 200
    })
  });
</script>

<script>
/* $(document).ready(function(e){
    
    $(".containerBox .more").on("click",function(e){
        var elem = $(this).prev(".box");
        if(elem.data("closed")){            
            elem.css({"max-height":"none"}).data("closed",false);
            $(this).text("Menos");
        } else {
            elem.css({"max-height":100}).data("closed",true);            
            $(this).text("Mais");
            $("body,html").animate({scrollTop:$(this).position().top})
        };
        e.preventDefault();
    }).prev(".box").data("closed",true);
    
}) */
</script>