<%= render 'navbar/user' %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="container-box">

        <p id="notice"><%= notice %></p>

        <div class="row">

          <div class="col-sm-3">
        
          <%= image_tag @professor.image.url(:medium) %>
            <p>
              <strong>User:</strong>
              <%= @professor.user.name %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @professor.email %>
            </p>

          </div>
          <div class="col-sm-9">
            <p>
              <strong>Price:</strong>
              <%= @professor.price %>
            </p>

            <p>
              <strong>Nota pi:</strong>
              <%= @professor.nota_pi %>
            </p>

            <p>
              <strong>Nota pf:</strong>
              <%= @professor.nota_pf %>
            </p>

            <p>
              <strong>Cr:</strong>
              <%= @professor.cr %>
            </p>

            <p>
              <strong>Ranking:</strong>
              <%= @professor.ranking %>
            </p>

            <p>
              <strong>Horario:</strong>
              <%= @professor.horario %>
            </p>

            <%= @professor.semester %>
          <% @professor.courses.each do |course| %>
          <%= course.name %> | <%= course.nota_pi %> | <%= course.nota_pf %><br>
          <% end %>
          
          </div>
        </div>

        <%= link_to 'Edit', edit_professor_path(@professor) %> |
        <%= link_to 'Back', professors_path %>
      </div>
    </div> 
  </div>
</div>