<%= content_for :title, "InsProf | #{@professor.name}" %>
<%= render 'navbar/user' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="container-box">
        <p id="notice"><%= notice %></p>
        <div class="row">
          <div class="col-sm-2">
            <%= image_tag @professor.image.url(:medium),:class => "img-rounded img-responsive" %>
            <div class="row"> 
              <div id="recommended-hide">
                <%= render 'professors/recommended' %>
              </div>
              <div id="recommended"></div>
              <div id="unrecommended-hide">
                <%= render 'professors/unrecommended' %>
              </div>
              <div id="unrecommended"></div>
            </div>
            <%= render_shareable :buttons=> ['facebook'], :url=> request.original_url, :facebook=> {:send=> true,:share => true, :url=> request.original_url, :action => 'recommend'} %>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <h4><%= @professor.user.name %></h4>
              <%= @professor.email %>
            </div>
            <%= link_to "Entrar em contato pelo facebook","http://www.facebook.com/#{@professor.user.uid}",:target => "_blank" if @professor.user.uid.present? %>
            <hr>
            <p>
              <strong>Preço:</strong>
              <%= @professor.price %>
            </p>
            <p>
              <strong>Horário:</strong>
              <%= simple_format @professor.horario %>
            </p>
            <% if @professor.description.present? %>
            <p>
              <strong>O que faz dele um bom professor:</strong>
              <%= simple_format @professor.description %>
            </p>
            <% end %>
          </div>
          <div class="col-sm-5">
            <h4>Matérias</h4>
            <table class="table table table-hover">
              <thead>
                <tr>
                  <th>Curso</th>
                  <th>PI</th>
                  <th>PF</th>
                </tr>
              </thead>
              <tbody>
               <% @professor.courses.each do |course| %>
               <tr>
                <td><%= course.name %></td>
                <td><%= course.nota_pi %></td>
                <td><%= course.nota_pf %></td>
              </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 